<body>
  <div class="form-container">
    <form #userForm="ngForm" (ngSubmit)="subPost(userForm.value)" method="post">
      <h1 style="text-align: center;">Sign In</h1>
      <div class="form-input-container">
        <label>Email <span class="required">*</span></label>
        <input #email class="form-control my-input" name="email" id="my_email" type="text"
          placeholder="john-doe@gmail.com" required #name="ngModel" required
          pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/" [(ngModel)]="userModel.email">
      </div>
      <div class="form-input-container">
        <label style="text-align: left;">Password <span class="required">*</span></label>
        <input #password class="form-control my-input" name="pwd" #name="ngModel" id="my_password" type="password"
          required [(ngModel)]="userModel.password">
      </div>
      <div class="button-div">
        <button class="btn btn-success btn-lg" style="margin-right: 10px" type="submit">Sign In</button>
        <button class="btn btn-success btn-lg" style="margin-left: 10px"
          onclick="window.location.href = 'http:/localhost/webplmadness/signup.php';">Sign
          Up</button>
      </div>
    </form>
    <div *ngIf="err_msg.length != 0">
      <div class="error_msg" *ngFor="let message of err_msg">
        {{ message }}
        <br />
        <br />
      </div>
    </div>
  </div>

  <body>